.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  padding-top: 20px;
  background-color: transparent;
  flex-wrap: wrap;
  

  position: sticky;
  top: 0;
  z-index: 100;
}

.card {
  border: 2px solid #f24822;
  display: flex;
  justify-content:  center;
  align-items: center;
  width: min(325px, 85vw);
  height: 106px;
  /*margin: 0 auto;*/
  border-radius: 5px;
  /*display: inline-block;*/
  background-color: #f24822;
  border-radius: 17px;
  /*margin-left: 10px;*/
}

.logo {
  font-size: 60px;
  font-family: 'Inter';
  font-weight: 900;
  background-color: #f24822;
  text-decoration: none;
}

.logoLink {
  text-decoration: none; /* removes underline */
}

.logo:hover {
  cursor:pointer;
}

.lofi {
  color: #dcccff;
  /*background-color: #f24822;*/
  background-color: transparent;
}

.nest {
  color: #ffc2ec;
  /*background-color: #f24822;*/
  background-color: transparent;
}

.line {
  border: 2px solid #f24822;
  height: 80px;
  background-color: transparent;
}

.card2 {
  border: 2px solid #f24822;
  background-color: #f24822;
  width: min(600px, 90vw);
  height: 78px;
  border-radius: 17px;
  display: flex;
  justify-content:  center;
  align-items: center;
  gap: 3rem;
  padding-left: 20px;
  padding-right: 20px;
    
}

/*.card2 h2 {
  background-color: #f24822;
  font-size: 27px;
  font-family: 'Inter';
  font-weight: 800;
  color: white;
}

.card2 h2:hover {
  cursor:pointer;
  color: #800080;
  transition: color 0.2s ease-in-out;
}*/

.link {
  background-color: #f24822;
  text-decoration: none;
  font-size: 27px;
  font-family: 'Inter';
  font-weight: 800;
  color: white;
}

.link:hover {
  cursor:pointer;
  background-color: #f24822;
  text-decoration: none;
  font-size: 27px;
  font-family: 'Inter';
  font-weight: 800;
  text-decoration: none;
  color: #800080;
  transition: color 0.2s ease-in-out;
}

.activeLink {
  background-color: #f24822;
  text-decoration: none;
  font-size: 27px;
  font-family: 'Inter';
  font-weight: 800;
  text-decoration: none;
  color: #800080;
  transition: color 0.2s ease-in-out;
}



/* Mobile screens */
@media screen and (max-width: 500px) {
  .card2 {
    flex-wrap: wrap;
    height: auto;
    padding: 12px;
    gap: 1rem;
  }

  .link,
  .activeLink {
    font-size: 18px;
  }
}

@media screen and (max-width: 900px) {
  .dashboard {
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 3.5rem;
  }

  .line {
    display: none;
  }
}

 