.frame {
    border: 2px solid black;
    background-color: #dcccff;
    border-radius: 17px;
    width: 426px;
    height: 506px;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    justify-content: flex-start;
    /*align-items: center; /* This will also center it vertically */
}

img {
    width: 250px;
    height: 250px;
    margin-top: 25px;
    border-radius: 17px;
}

.playButton {
    background-color: #dcccff;
    width: 20px;
    height: 20px;
    border: none;
    margin-top: -25px;
    margin-left: -14px;
}

.playButton :hover {
    cursor: pointer;
}

.playButton :global(.fa-play) {
    color: black;
    font-size: 50px;
    background-color: #dcccff;
}

.buttons {
    background-color: #dcccff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
    margin-right: -3px;
}

.leftBtn {
    margin-top: 10px;
    border: none;
    background-color: #dcccff;
    margin-right: -4px;
}

.leftBtn :global(.fa-step-backward) {
    background-color: #dcccff;
    font-size: 40px;
}

.leftBtn :hover {
    cursor: pointer;
}

.rightBtn {
    margin-top: 9px;
    border: none;
    background-color: #dcccff;
}

.rightBtn :hover {
    cursor: pointer;
}

.rightBtn :global(.fa-step-forward) {
    background-color: #dcccff;
    font-size: 40px;
}

.songName {
    font-size: 35px;
    background-color: #dcccff;
}

.bar {
    background-color: black;
    width: 300px;
    height: 5px;
    margin-top: 30px;
}

.bar:hover {
    cursor: pointer;
}

.barFill {
    height: 100%;
    width: 0%;
    background-color: #f24822;
    transition: width 0.2s linear;
}

.pauseButton {
    margin-top: 9px;
    border: none;
    background-color: #dcccff;
}

.pauseButton :hover {
    cursor: pointer;
}

.pauseButton :global(.fa-pause) {
    background-color: #dcccff;
    font-size: 50px;
}

/*audio {
    display: none 
}*/